#!/usr/bin/make -f

%:
	dh $@

DESTDIR := $(CURDIR)/debian/aceproxy

.PHONY: override_dh_auto_install override_dh_installdocs override_dh_installchangelogs

override_dh_auto_install:
	mkdir -p "$(DESTDIR)/etc/init"
	mkdir -p "$(DESTDIR)/etc/aceproxy"
	mkdir -p "$(DESTDIR)/usr/share/aceproxy"
	cp -v "$(CURDIR)/debian/"*.conf "$(DESTDIR)/etc/init"
	ls "$(CURDIR)" | grep -v 'debian' | xargs -I '{}' cp -rv '{}' "$(DESTDIR)/usr/share/aceproxy"
	mv "$(DESTDIR)/usr/share/aceproxy/aceconfig.py" "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/raketatv_config.py" "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/ttvplaylist_config.py" "$(DESTDIR)/etc/aceproxy/"
	ln -s "/etc/aceproxy/aceconfig.py" "$(DESTDIR)/usr/share/aceproxy/aceconfig.py"
	ln -s "/etc/aceproxy/raketatv_config.py" "$(DESTDIR)/usr/share/aceproxy/plugins/raketatv_config.py"
	ln -s "/etc/aceproxy/ttvplaylist_config.py" "$(DESTDIR)/usr/share/aceproxy/plugins/ttvplaylist_config.py"
	sed -i -r 's/vlcuse *= *False/vlcuse = True/' "$(DESTDIR)/etc/aceproxy/aceconfig.py"
	sed -i -r 's/videodelay *= *.+/videodelay = 0/' "$(DESTDIR)/etc/aceproxy/aceconfig.py"
	sed -i -r 's/videoobey *= *True/videoobey = False/' "$(DESTDIR)/etc/aceproxy/aceconfig.py"
	sed -i -r 's/videopausedelay *= *.+/videopausedelay = 0/' "$(DESTDIR)/etc/aceproxy/aceconfig.py"

override_dh_installdocs override_dh_installchangelogs:
